/* @media (max-width: 991px) and (min-width: 768px){
 .slider_text h3 {
    font-size: 35px;}
}; */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:200,200i,300,300i,400,500,600,700,800,900&display=swap');


/* h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #234262;
} */
#detail{
    position: relative;
    color: #234262;
    font-family:'Abril Fatface', cursive;
    font-size: 70px;
    font-weight: 400;
    line-height: 1.16;
    margin-bottom: 62px;
    padding: 100px, 100px;
    text-align: left;
    font-size: 75px;
            
    
}
@media (min-width: 500px) and (max-width: 1000px){

  #detail{
    position: relative;
    color: #234262;
    font-family:'Abril Fatface', cursive;
    font-size: 70px;
    font-weight: 200;
    line-height: 1.16;
    margin-bottom: 62px;
    padding: 150px, 100px;
    text-align: left;
    font-size: 25px;
            
    
}

}
.section_title h3{
  color: #234262;
  font-family:'Abril Fatface', cursive;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.16;
  margin-bottom: 62px;
  padding: 100px;
  text-align: center;
  font-size: 45px;

}

  
.img-fluid
{
   width:  100%;
   
     }

/*      
     .navbar-wrapper{
         position:fixed;

     } */
     .header-area .header-top_area {
      padding: 11px 150px;
      background: #232637;
    }
     #getstart{
          text-align: center;
     }
     #sclrow{
         padding-top: 20px;
         text-align: center;
         border-start-end-radius: 5px;
     }

     .header-area {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        z-index: 9;
      }

      .header-area {
          padding-top: 0;
        
      }
      .ti-user:before{
        content: "\e602";
        }
    
 
      .header-area .main-header-area {
        background: #fff;
        padding: 0 150px;
       
    
      }
      
      
        .header-area .main-header-area {
          padding: 10px 10px;
        }
      
        .sub-menu{
          left: 0;
          text-align: left;
          position: absolute;
          top:120%;
          background: #fff;
          width: 200px;
          padding-left: 0;
          display:block;
          visibility: hidden;
          z-index: 2;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
          transition: 0.6s;
          margin-top: 39px;
      }
      .main_menu ul li:hover .sub-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      .sub-menu li a{
          padding: 5px 15px; 
          position: inherit;
          display: block;
          color: #000;
          transition: 0.3s;
          }
      .apply_btn {
          background: #234262;
          font-size: 16px;
          border:1px solid transparent;
          color:#fff;
          border-radius: 4px;
          padding: 13px 60px;
      }
      .apply_btn:hover{
          background: transparent;    
          color: #234262;
      
     
      
     
  
 
     
      }
     

      .header-area .main-header-area .Appointment .socail_links ul li a {
        color: #A8A7A0;
        margin: 0 10px;
        font-size: 15px;
      }

      .header-area .main-header-area .Appointment .socail_links ul li  {
        color: #fff;
      }

      .header-area .main-header-area .Appointment .book_btn {
        margin-left: 30px;
      }
      
   
      .header-area .main-header-area .Appointment .book_btn a {
        background: #234262;
        padding: 13px 60px;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid transparent;
        color: #fff;
       
        border-radius: 4px;
        text-transform: uppercase;
      }
      
      
      .header-area .main-header-area .Appointment .book_btn a:hover {
        background: #fff;
        color: #234262;
        border: 1px solid #234262;
      }
      
     
      .header-area .main-header-area .main-menu {
        text-align: center;
      }
      
      .boxed-start {
        background: #1fc2d9;
        color: #fff;
        display: inline-block;
        padding: 17px 50px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        border: 0;
        border: 1px solid transparent;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        cursor: pointer;
        overflow: hidden;
      }
      
      
      .boxed-start:hover {
        background: #fff;
        color: #1fc2d9;
        border: 1px solid #1fc2d9;
      }
      
      
      .boxed-start:focus {
        outline: none;
      }
      
 
      .boxed-tour {
        color: #fff;
        display: inline-block;
        padding: 17px 50px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        border: 0;
        border: 1px solid #77899d;
        
        text-align: center;
        color: #1a1c28 !important;
        text-transform: uppercase;
        
        transition: 0.5s;
        cursor: pointer;
      }
      
   
      .boxed-tour:hover {
        background: #8d9dae;
        color: #fff !important;
        border: 1px solid #8d9dae;
      }
      
    
      .boxed-tour:focus {
        outline: none;
      }
     
      
   
      .header-area .main-header-area .main-menu ul li a {
        color: #32364a;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        padding: 39px 0px 39px 0px;
        font-family: "Poppins", sans-serif;
        position: relative;
        text-transform: capitalize;
      }
      
     
      
      
    
     
      
      @media (max-width: 767px) {
        /* line 245, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
        .header-area .header-top_area {
          padding: 10px 10px;
        }
      }
      
      @media (min-width: 768px) and (max-width: 991px) {
        /* line 245, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_header.scss */
        .header-area .header-top_area {
          padding: 10px 10px;
        }
      }
      
      
      
      @media (min-width: 1200px) and (max-width: 1500px) {
       
        .header-area .header-top_area {
          padding: 11px 50px;
        }
      }
      
       
      
      
      .header-area .header-top_area .header_top_wrap p {
        margin-bottom: 0;
        font-size: 14px;
        color: #ffffff;
      }
      
  
      .header-area .header-top_area .header_top_wrap p span {
        color: #fff;
      }
      
 
      .header-area .header-top_area .header_top_wrap p span i {
        margin-right: 3px;
      }
      
   
      .header-area .header-top_area .header_top_wrap .text_wrap p a {
        color: #fff;
        font-size: 14px;
      }
      
      
      .header-area .header-top_area .header_top_wrap .text_wrap a:last-child {
        margin-left: 30px;
        padding-left: 30px;
        position: relative;
      }
      .service_area .single_service {
        background: #ebb830;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        padding: 27.5px 30px;
        margin-bottom: 30px;
      }
      #clmservice3{
        background-color: lightskyblue;
      }

      #clmservice2{
          background-color:  #0066ff;
      }
      .service_area .single_service .service_info h4 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 25px;
        margin-bottom: 7px;
      }
      .service_area .single_service .service_info p {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 1;
      }
       
       
      
     